absl-py                      2.1.0       Abseil Python Common Libraries, see https://github.com/abseil/abseil-py.
annotated-types              0.7.0       Reusable constraint types to use with typing.Annotated
anyio                        4.4.0       High level compatibility layer for multiple asynchronous event loop implementations
astunparse                   1.6.3       An AST unparser for Python
beautifulsoup4               4.12.3      Screen-scraping library
bs4                          0.0.2       Dummy package for Beautiful Soup (beautifulsoup4)
cachetools                   5.5.0       Extensible memoizing collections and decorators
certifi                      2024.8.30   Python package for providing Mozilla's CA Bundle.
charset-normalizer           3.3.2       The Real First Universal Charset Detector. Open, modern and actively maintained alternative to Chardet.
click                        8.1.7       Composable command line interface toolkit
dnspython                    2.6.1       DNS toolkit
exceptiongroup               1.2.2       Backport of PEP 654 (exception groups)
fastapi                      0.114.2     FastAPI framework, high performance, easy to learn, fast to code, ready for production
flatbuffers                  24.3.25     The FlatBuffers serialization format for Python
gast                         0.6.0       Python AST that abstracts the underlying Python version
google-auth                  2.34.0      Google Authentication Library
google-auth-oauthlib         1.2.1       Google Authentication Library
google-pasta                 0.2.0       pasta is an AST-based Python refactoring library
grpcio                       1.66.1      HTTP/2-based RPC framework
h11                          0.14.0      A pure-Python, bring-your-own-I/O implementation of HTTP/1.1
h5py                         3.11.0      Read and write HDF5 files from Python
idna                         3.10        Internationalized Domain Names in Applications (IDNA)
joblib                       1.4.2       Lightweight pipelining with Python functions
keras                        2.15.0      Deep learning for humans.
libclang                     18.1.1      Clang Python Bindings, mirrored from the official LLVM repo: https://github.com/llvm/llvm-project/tree/main/clang/bindings/python, to m...
markdown                     3.7         Python implementation of John Gruber's Markdown.
markupsafe                   2.1.5       Safely add untrusted strings to HTML/XML markup.
ml-dtypes                    0.3.2       
motor                        3.5.1       Non-blocking MongoDB driver for Tornado or asyncio
nltk                         3.9.1       Natural Language Toolkit
numpy                        1.26.4      Fundamental package for array computing in Python
oauthlib                     3.2.2       A generic, spec-compliant, thorough implementation of the OAuth request-signing logic
opt-einsum                   3.3.0       Optimizing numpys einsum function
packaging                    24.1        Core utilities for Python packages
pandas                       2.2.2       Powerful data structures for data analysis, time series, and statistics
pillow                       10.4.0      Python Imaging Library (Fork)
protobuf                     4.25.4      
pyasn1                       0.6.1       Pure-Python implementation of ASN.1 types and DER/BER/CER codecs (X.208)
pyasn1-modules               0.4.1       A collection of ASN.1-based protocols modules
pydantic                     2.9.2       Data validation using Python type hints
pydantic-core                2.23.4      Core functionality for Pydantic validation and serialization
pymongo                      4.8.0       Python driver for MongoDB <http://www.mongodb.org>
python-dateutil              2.9.0.post0 Extensions to the standard Python datetime module
python-multipart             0.0.9       A streaming multipart parser for Python
pytz                         2024.2      World timezone definitions, modern and historical
regex                        2024.9.11   Alternative regular expression module, to replace re.
requests                     2.32.3      Python HTTP for Humans.
requests-oauthlib            2.0.0       OAuthlib authentication support for Requests.
rsa                          4.9         Pure-Python RSA implementation
scikit-learn                 1.5.2       A set of python modules for machine learning and data mining
scipy                        1.14.1      Fundamental algorithms for scientific computing in Python
setuptools                   75.1.0      Easily download, build, install, upgrade, and uninstall Python packages
six                          1.16.0      Python 2 and 3 compatibility utilities
sniffio                      1.3.1       Sniff out which async library your code is running under
soupsieve                    2.6         A modern CSS selector implementation for Beautiful Soup.
starlette                    0.38.5      The little ASGI library that shines.
tensorboard                  2.15.2      TensorBoard lets you watch Tensors Flow
tensorboard-data-server      0.7.2       Fast data loading for TensorBoard
tensorflow                   2.15.1      TensorFlow is an open source machine learning framework for everyone.
tensorflow-estimator         2.15.0      TensorFlow Estimator.
tensorflow-io-gcs-filesystem 0.37.1      TensorFlow IO
tensorflow-metal==1.0.0; platform_system=="Darwin"
termcolor                    2.4.0       ANSI color formatting for output in terminal
threadpoolctl                3.5.0       threadpoolctl
tqdm                         4.66.5      Fast, Extensible Progress Meter
typing-extensions            4.12.2      Backported and Experimental Type Hints for Python 3.8+
tzdata                       2024.1      Provider of IANA time zone data
urllib3                      2.2.3       HTTP library with thread-safe connection pooling, file post, and more.
uvicorn                      0.30.6      The lightning-fast ASGI server.
werkzeug                     3.0.4       The comprehensive WSGI web application library.
wheel                        0.44.0      A built-package format for Python
wrapt                        1.14.1