services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_database:/var/lib/postgresql/data
    container_name: postgres-db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 30s
      timeout: 10s
      retries: 5

  mongo:
    image: mongo:8.0.0-rc20-noble
    ports:
      - "27017:27017"
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=motdepasseadmin
    volumes:
      - mongo_database-dev:/data/db
    container_name: rakuten-mongo

  api:
    image: rakuten-api:latest
    build:
      context: ../
      dockerfile: docker/api.Dockerfile
    ports:
      - "8000:8000"
    environment:
      MONGODB_URI: mongodb://admin:motdepasseadmin@mongo:27017/
      MLFLOW_TRACKING_URI: http://mlflow-ui:5000
      MLFLOW_ARTIFACT_ROOT: file:///app/mlruns
    volumes:
      - mlflow-artifacts:/app/mlruns
    depends_on:
      mongo:
        condition: service_started
      mlflow-ui:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 30s
      timeout: 10s
      retries: 5

  mlflow-ui:
    build:
      context: ../
      dockerfile: docker/mlflow-ui.Dockerfile
    ports:
      - "5123:5000"
    environment:
      MONGODB_URI: mongodb://admin:motdepasseadmin@mongo:27017/
      MLFLOW_TRACKING_URI: sqlite:///mlflow.db
      DEFAULT_ARTIFACT_ROOT: /app/mlruns
    volumes:
      - mlflow-artifacts:/app/mlruns
      - mlflow-db:/app
    container_name: mlflow-ui
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s

  airflow-init:
    build:
      context: ../
      dockerfile: docker/airflow.Dockerfile
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - airflow_logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    entrypoint: ["airflow", "db", "init"]
    depends_on:
      postgres:
        condition: service_healthy
    container_name: airflow-init

  airflow:
    build:
      context: ../
      dockerfile: docker/airflow.Dockerfile
    ports:
      - "8080:8080"
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - airflow_logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    command: ["webserver"]
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    container_name: airflow
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  airflow_scheduler:
    build:
      context: ../
      dockerfile: docker/airflow.Dockerfile
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - airflow_logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    command: ["scheduler"]
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    container_name: airflow_scheduler

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin  
      - GF_SECURITY_ADMIN_USER=admin     
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 5s
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"
        
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: unless-stopped


volumes:
  mongo_database-dev:
  mlflow-artifacts: # Volume séparé pour les artéfacts MLflow
  mlflow-db:  # Nouveau volume pour MLflow
  postgres_database:
  grafana-storage:
  grafana-logs:
    driver: local
  airflow_logs:
