
services: 
  mongo:
    image: mongo:8.0.0-rc20-noble
    ports:
      - "27017:27017"
    environment:
      MONGODB_URI=mongodb://mongodb:27017/
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: motdepasseadmin
    volumes:
      - mongo_database-dev:/data/db/
    container_name: rakuten-mongo

  api:
    image: rakuten-api:latest
    build:
      context: ../
      dockerfile: docker/api.Dockerfile
    ports:
      - "8000:8000"
    environment:
      MONGODB_URI: mongodb://admin:motdepasseadmin@mongo:27017/
      MLFLOW_TRACKING_URI: http://mlflow-ui:5000
      MLFLOW_ARTIFACT_URI: /mlruns
    volumes:
      - mongo_database-dev:/app/mlruns
    depends_on:
      mongo:
        condition: service_started
      mlflow-ui:
        condition: service_healthy
    container_name: rakuten-api

  mlflow-ui:
    build:
      context: ../
      dockerfile: docker/mlflow-ui.Dockerfile  # Le Dockerfile pour mlflow-ui
    ports:
      - "5000:5000"
    environment:
      MLFLOW_TRACKING_URI: http://mlflow-ui:5000
    volumes:
      - mongo_database-dev:/app/mlruns
    container_name: mlflow-ui
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  mongo_database-dev:
